:root {
  --accent-color: #bf0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

body {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3px;
  font-size: 14.5px;
  position: relative;
  overflow-x: hidden;
}

.screen {
  scroll-snap-type: y mandatory;
}

.slide {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

/* Animaciones */
.clouds-wrapper {
  position: absolute;
  position: fixed;
  width: 100%;
  top: -20%;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.3;
}

.avion-wrapper {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
}

.avion-wrapper2 {
  position: absolute;
  position: fixed;
  top: 84%;
  right: 5%;

  filter: hue-rotate(-183deg);
  transform: scaleX(-1);
  filter: blur(1.5px);
}
/* Animaciones */


/* NAV */
nav {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

nav li a {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #a4a4a4;
  background-color: white;
  margin: 10px;
}

nav li a.active {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* NAV */



.box {
  border: 2px solid #e8e8e8;
  background-color: #f3f3f3;
  padding: 36px 26px;
  border-radius: 7px;
  /* max-width: 530px; */
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  box-shadow: 0px 0px 38.6px rgba(0, 0, 0, 0.04),
    0px 0px 308px rgba(0, 0, 0, 0.08);
}

.boarding-pass {
  gap: 40px;
}

.logo img {
  width: 96px;
  height: 32px;
}

.fecha-wrapper {
  margin-left: auto;
}

.fecha-wrapper,
.hora-wrapper {
  max-width: 130px;
  font-size: 0.9rem;
  text-align: right;
}

.title {
  color: #777777;
  font-weight: 600;
  margin-bottom: 5px;
}

.text {
  color: #8e8e8e;
}

.iban-icon {
  width: 10px;
  display: inline-block;
}
.iban-icon img {
  width: 100%;
  opacity: 0.4;
}

.iban-wrapper .iban-text {
  color: #bcbcbc;
  font-weight: 200;
  font-size: 0.85rem;
}

.iban-wrapper .iban-title {
  text-align: right;
}

.nombre-wrapper {
}

.origen-destino {
}

.origen-destino p {
  font-size: 2.5rem;
  color: #777777;
  letter-spacing: 0;
}

.origen-destino img {
  width: 45px;
  transform: rotate(45deg);
  filter: brightness(-7.5);
}

.more-info {
  max-width: 530px;
}

.more-info {
  gap: 28px;
}

.bloque {
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 25px;
}

.bloque:last-child {
  border: 0;
  padding-bottom: 0px;
}

.bloque p {
  margin-bottom: 9px;
  color: #777777;
  font-weight: 600;
}

.bloque ul {
  /* list-style: none; */
  /* list-style-position: inside; */
  list-style-position: outside;
  /* list-style-type: circle; */
  list-style-type: square;
  /* margin-left: 0; */
  padding-left: 20px;
}

.bloque ul li {
  color: #8e8e8e;
  margin: 3px 0;
  /* margin-left: 1em; */
}

.bold {
  font-weight: 800;
  /* color: #737373; */
}

.bloque p.warn {
  text-align: center;
  color: var(--accent-color);
}

.asistencia {
  margin-bottom: 9px;
  color: #777777;
  font-weight: 600;
  text-align: center;
}

form input[type="text"] {
  appearance: none;
  border: 1px solid #cecece;
  border-radius: 3px;
  /* border-bottom: 1px solid #777777; */
  margin-bottom: 20px;
  padding: 10px 6px;
  width: 100%;
  font-size: 16px;
  background-color: transparent !important;
}

form input[type="text"]:focus {
  outline: none;
}

label{
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.more-address {
  text-align: center;
}

.qr-wrapper {
  display: block;
  margin: 0 auto;
  width: 94px;
  margin-bottom: 14px;
}

#qr {
  width: 100%;
}



.boton-ir,
.boton-checkin,
.submit {
  font-family: inherit;
  margin: 0 auto;
  appearance: none;
  padding: 10px 13px;
  display: flex;
  gap: 6px;
  justify-content: center;
  border-radius: 7px;
  width: fit-content;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid #777777;
  color: #777777;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.boton-ir,
.boton-checkin {
  margin-top: 14px;
}

.boton-ir:hover,
.boton-checkin:hover,
.submit:hover {
  background-color: #777777;
  border: 1px solid #777777;
  color: white;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.boton-ir:hover img,
.boton-checkin:hover img {
  fill: white;
  filter: brightness(5);
}

.boton-ir img,
.boton-checkin img {
  transition: all 0.3s ease-in-out;
  width: 18px;
}




.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #cecece;
  color: #4d4d4d;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  bottom: 90%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #cecece transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}